
DATABASE_URL="postgresql://postgres.[project-ref]:[YOUR-PASSWORD]@aws-1-eu-west-1.pooler.supabase.com:6543/postgres"


NEXT_PUBLIC_SUPABASE_URL="https://[project-ref].supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_[...]"
SUPABASE_SECRET_KEY=


SUPABASE_SECRET_KEY="sb_secret_[...]"

NEXT_PUBLIC_SITE_URL="https://yourapp.com"


PADDLE_API_KEY="pdl_sdbx_apikey_[...]"

PADDLE_WEBHOOK_SECRET="pdl_ntfset_[...]"

PADDLE_ENV="sandbox"

NEXT_PUBLIC_PADDLE_CLIENT_TOKEN="test_[...]"

NEXT_PUBLIC_PADDLE_ENV="sandbox"

APP_KEY=""


NEXT_PUBLIC_SENTRY_DSN="https://[key]@[org].ingest.sentry.io/[project]"
SENTRY_DSN="https://[key]@[org].ingest.sentry.io/[project]"
SENTRY_ORG=""
SENTRY_PROJECT=""
SENTRY_AUTH_TOKEN=""

LOG_LEVEL="info"
